<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>手机详细页</title>
    <link rel="stylesheet" href="../css/details.css"/>
    <link rel="stylesheet" href="../font/iconfont.css"/>
    <style>
        .clearfix:after {
            content: '.';
            visibility: hidden;
            display: none;
            height: 0;
            clear: both;
        }
    </style>
</head>
<body id="body">
<!-- header start-->
<div id="header">
    <div class="h-main">
        <div class="h-logo">
            <a class='img' href=""><img src="../img/mi-logo.png" alt="" width="49" height="49"/></a>
        </div>
        <div class="h-right">
            <ul class="user">
                <li>
                    <a class='userA' href="">个人用户 ▼</a>
                    <ul class="hide">
                        <li>个人中心</li>
                        <li>晒单评价</li>
                        <li>我的喜欢</li>
                        <li>小米账户</li>
                        <li>退出登陆</li>
                    </ul>
                </li>
                <li>我的订单</li>
            </ul>
        </div>
    </div>
</div>
<!-- header end-->

<!--content start-->
<div id="content">
    <div class="iphone">
        <div class="i-title">
            <ul>
                <li><a href="">小米MIX</a></li>
                <li><a href="">小米Note 2</a></li>
                <li><a href="">小米手机5s</a></li>
                <li><a href="">小米手机5s Plus</a></li>
                <li><a href="">红米Note 4</a></li>
                <li><a href="">红米手机4</a></li>
                <li><a href="">小米手机5</a></li>
                <li><a href="">小米Max</a></li>
            </ul>
        </div>
        <div class="i-content">
            <div class="i-c-left">
                <ul>
                    <li><img src="../img/Note/1.jpg" alt="" width="480" height="480"/></li>
                    <li><img src="../img/Note/2.jpg" alt="" width="480" height="480"/></li>
                    <li><img src="../img/Note/3.jpg" alt="" width="480" height="480"/></li>
                    <li><img src="../img/Note/4.jpg" alt="" width="480" height="480"/></li>
                    <li><img src="../img/Note/5.jpg" alt="" width="480" height="480"/></li>
                </ul>
            </div>
            <div class="i-c-right">
                <div class="r-title">
                    购买红米Note 4
                    <span class="price">1199元</span>
                    <a href="" class="details ">深入了解产品></a>
                </div>
                <div class="r-content">
                    <div class="r-content-box">
                        <p>1. 选择版本 <span class="dec">MTK Helio X20 10核 最高主频 2.1GHz 1199元</span></p>
                        <a class="capacity">3GB内存+64GB容量 </a>
                        <a class="capacity">3GB内存+32GB容量</a>
                        <p>2. 选择颜色 </p>
                        <a class="choose on"><i class="color1 yuan"></i>幽蓝</a>
                        <a class="choose"><i class="color2 yuan"></i>金色</a>
                        <a class="choose"><i class="color3 yuan"></i>银色</a>
                        <a class="choose"><i class="color4 yuan"></i>灰色</a>
                        <a class="choose"><i class="color5 yuan"></i>雅黑</a>
                        <p class="user">您选择了以下产品:</p>
                        <p title="红米Note 4 3GB内存+64GB容量 幽蓝 1199元" class="dec">红米Note 4 3GB内存+64GB容量 幽蓝 1199元</p>
                        <a href="" class="buy ">设置开售提醒</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content end-->

<!--full start-->

<div id="full">
    <div class="f-nav">
        <div class="f-n-main">
            <a href="">立即购买</a><p>红米Note 4 3GB内存+64GB容量 雅黑 1199元</p>
        </div>
    </div>
    <div class="f-note"><a href=""><img src="../img/full/1.jpg" alt="" width="1226" height="580"/></a></div>
    <div class="f-true-nav">
        <div class="f-n-pic">
            <ul>
                <li class="on"><a href=""><img src="../img/full/nav/1.jpg" alt="" width="2560" height="700"/></a></li>
                <li><a href=""><img src="../img/full/nav/2.jpg" alt="" width="2560" height="700"/></a></li>
                <li><a href=""><img src="../img/full/nav/3.jpg" alt="" width="2560" height="700"/></a></li>
                <li><a href=""><img src="../img/full/nav/4.jpg" alt="" width="2560" height="700"/></a></li>
            </ul>
        </div>
        <div class="f-n-tab">
            <ul>
                <li class="on"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <div class="left f-n-btn"></div>
        <div class="right f-n-btn"></div>
    </div>
    <div class="f-service"><a href=""><img src="../img/full/2.jpg" alt="" width="1226" height="655"/></a></div>
    <div class="f-choose">
        <div class="f-c-box">
            <img src="../img/full/5.png" alt="" width="1226" height="732"/>
            <a href="" class="left"></a>
            <a href="" class="right"></a>
        </div>
    </div>
    <div class="f-parts">
        <div class="p-title">
            <p class="title">款款出色</p>
            <p class="title">随红米Note 4购买配件免费送货</p>

        </div>
        <div class="p-main">
            <ul>
                <li>
                    <a class="img" href=""><img src="../img/parts/1.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/2.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/3.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/4.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/5.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/6.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>

            </ul>
        </div>
    </div>
    <div class="f-repair">
        <img src="../img/full/3.jpg" alt="" width="1226" height="600"/>
        <div class="r-main">
            <p class="title">小米之家及官方授权维修网点</p>
            <p>迎来小米之家解决你遇到的问题，了解最新的小米官方产品最全面的产品信息，还有很多好玩的活动等你来访。
                你还可以前往小米授权维修网点解决售后问题，520家网点让服务随时在身边。</p>
            <a href="">小米之家</a>
            <a href="" class="bottom">官方授权维修网点</a>
        </div>
    </div>
</div>

<!--full end-->
<!-- footer start -->
<div id="footer">
    <div class="f-top">
        <ul class="tabUl">
            <li><a href=""><span class="iconfont icon-gongju"></span>预约维修服务</a></li>
            <li><a href=""><span class="iconfont icon-footer-7"></span>7天无理由退货</a></li>
            <li><a href=""><span class="iconfont icon-15tianwuyouhuanhuo"></span>15天免费换货</a></li>
            <li><a href=""><span class="iconfont icon-icon"></span>满150元包邮</a></li>
            <li><a href=""><span class="iconfont icon-dingwei"></span>520余家售后网点</a></li>
        </ul>
        <div class="f-t-left">
            <ul>
                <li>
                    <p class="title">帮助中心</p>
                    <a href="">账户管理</a>
                    <a href="">购物指南</a>
                    <a href="">订单操作</a>
                </li>
                <li>
                    <p class="title">服务支持</p>
                    <a href="">售后政策</a>
                    <a href="">自助服务</a>
                    <a href="">相关下载</a>
                </li>

                <li>
                    <p class="title">线下门店</p>
                    <a href="">小米之家</a>
                    <a href="">服务网点</a>
                    <a href="">零售网点</a>
                </li>

                <li>
                    <p class="title">关于小米</p>
                    <a href="">了解小米</a>
                    <a href="">加入小米</a>
                    <a href="">联系我们</a></li>
                <li>
                    <p class="title">关注我们</p>
                    <a href="">新浪微博</a>
                    <a href="">小米部落</a>
                    <a href="">官方微信</a>
                </li>
                <li>
                    <p class="title">特色服务</p>
                    <a href=""> F 码通道</a>
                    <a href="">  小米移动</a>
                    <a href="">防伪查询</a>
                </li>
            </ul>
        </div>
        <div class="f-t-right">
            <p class="phone">400-100-5678</p>
            <p class="dec">
                周一至周日 8:00-18:00
                （仅收市话费）
            </p>
            <a href="" class="liuyan"><span class="iconfont icon-liuyan"></span>24小时在线客服</a>
        </div>
    </div>
    <div class="f-bottom">
        <div class="f-b-content">
            <div class="b-left">
                <a  class='f-logo' href="../index.html" target="_self"><img src="../img/mi-logo.png" width="49" height='49' alt="小米官网"/></a>
                <div class="wailink">
                    <ul>
                        <li><a href="">小米商城</a>|</li>
                        <li><a href="">MIUI</a>|</li>
                        <li><a href="">米聊</a>|</li>
                        <li><a href="">多看书城</a>|</li>
                        <li><a href="">小米路由器</a>|</li>
                        <li><a href="">视频电话</a>|</li>
                        <li><a href="">小米后院</a>|</li>
                        <li><a href="">小米天猫店</a>|</li>
                        <li><a href="">小米淘宝直营店</a>|</li>
                        <li><a href="">小米网盟</a>|</li>
                        <li><a href="">问题反馈</a>|</li>
                        <li><a href="">Select Region</a></li>
                    </ul>
                    <p>© <a href="">mi.com </a>京ICP证110507号  <a href="">京ICP备10046444号</a><a href="">京公网安备11010802020134号</a><a href=""> 京网文[2014]0059-0009号</a></p>
                    <p> 违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
                </div>
            </div>
            <div class="b-right">
                <ul>
                    <li><a href=""><img src="../img/footer/1.png" alt="" width="86" height="30"/></a></li>
                    <li><a href=""><img src="../img/footer/2.png" alt="" width="86" height="30"/></a></li>
                    <li><a href=""><img src="../img/footer/3.png" alt="" width="86" height="30"/></a></li>
                    <li><a href=""><img src="../img/footer/4.png" alt="" width="86" height="30"/></a></li>
                </ul>
            </div>
            <p class="last">小米商城</p>
        </div>
    </div>
</div>
<!-- footer end-->
<script type="text/javascript" src='http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js'></script>
<script src="../js/details.js"></script>
</body>
</html>