<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>手机列表页</title>
    <link rel="stylesheet" href="../css/list.css"/>
    <link rel="stylesheet" href="../font/iconfont.css"/>
    <style>
        .clearfix:after {
            content: '.';
            visibility: hidden;
            display: none;
            height: 0;
            clear: both;
        }
    </style>
</head>
<body id="body">
<!-- header start-->
<div id="header">
    <div class="h-main">
        <div class="h-m-left">
            <ul>
                <li><a href="">小米商城</a>|</li>
                <li><a href="">MIUI</a>|</li>
                <li><a href="">米聊</a>|</li>
                <li><a href="">游戏</a>|</li>
                <li><a href="">多看阅读</a>|</li>
                <li><a href="">云服务</a>|</li>
                <li><a href="">金融</a>|</li>
                <li><a href="">小米网移动版</a>|</li>
                <li><a href="">问题反馈</a>|</li>
                <li><a href="">Select Region</a></li>
            </ul>
        </div>
        <div class="h-m-right">
            <ul>
                <li><a href="">登录</a>|</li>
                <li><a href="">注册</a>|</li>
                <li><a href="">通知消息</a></li>
            </ul>
            <div class="h-m-r-buy">
                <a href="" class="buy"><span class='iconfont icon-gouwuche'></span>购物车（0）</a>
                <div class="hide">
                    购物车中还没有商品，赶紧选购吧！
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header end-->
<!-- nav start-->
<div id="nav">
    <div class="nav-content">
        <!-- logo-->
        <div class="n-logo">
            <a href="../index.html" target="_self"><img src="../img/mi-logo.png" width="49" height='49' alt="小米官网"/></a>
        </div>
        <!-- 导航-->
        <div class="n-main">
            <ul>
                <li class='classification'>全部商品分类</li>
                <li class='product'><a>小米手机</a></li>
                <li class='product'><a>红米</a></li>
                <li class='product'><a>平板·笔记本</a></li>
                <li class='product'><a>电视</a></li>
                <li class='product'><a>盒子·影音</a></li>
                <li class='product'><a>路由器</a></li>
                <li class='product'><a>智能硬件</a></li>
                <li><a href="">服务</a></li>
                <li><a href="">社区</a></li>
            </ul>
        </div>
        <!-- 搜索-->
        <div class="n-search">
            <div class="n-s-input">
                <input type=" "/>
                <a href="" class='a1 tip'>小米MIX</a>
                <a href="" class='a2 tip'>人工智能电视</a>
                <div class="hide">
                    <ul>
                        <li><a href="http://www.baidu.com"><span class='s1'>小米5s Plus</span><span class='s2'>约有5件</span></a></li>
                        <li><a href=""><span class='s1'>小米Max</span><span class='s2'>约有8件</span></a></li>
                        <li><a href=""><span class='s1'>小米手机5</span><span class='s2'>约有10件</span></a></li>
                        <li><a href=""><span class='s1'>空气净化器</span><span class='s2'>约有3件</span></a></li>
                        <li><a href=""><span class='s1'>活塞耳机</span><span class='s2'>约有3件</span></a></li>
                        <li><a href=""><span class='s1'>小米路由器</span><span class='s2'>约有6件</span></a></li>
                        <li><a href=""><span class='s1'>移动电源</span><span class='s2'>约有14件</span></a></li>
                        <li><a href=""><span class='s1'>运动相机</span><span class='s2'>约有11件</span></a></li>
                        <li><a href=""><span class='s1'>小蚁摄像机</span><span class='s2'>约有2件</span></a></li>
                        <li><a href=""><span class='s1'>小米体重秤</span><span class='s2'>约有1件</span></a></li>
                        <li><a href=""><span class='s1'>小米插线板</span><span class='s2'>约有10件</span></a></li>
                        <li><a href=""><span class='s1'>配件优惠套餐</span><span class='s2'>约有23件</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="n-s-btn">
                <span class="iconfont icon-sousuo"></span>
            </div>
        </div>
        <!--classification hide  start -->
        <div id='hide'>
            <div class="b-nav">
                <ul>
                    <li class="firstLi">
                        <a href=""><span class="s1">手机 电话卡</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title "><img src="../img/banner/nav/1/1.jpg" alt="" /><span>小米Note2</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/2.jpg" alt="" /><span>小米MIX</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/3.jpg" alt="" /><span>小米5s</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/4.jpg" alt="" /><span>小米5s Plus</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/5.jpg" alt="" /><span>小米手机5</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/6.jpg" alt="" /><span>小米Maxv</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/7.jpg" alt="" /><span>红米4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/8.jpg" alt="" /><span>红米4A</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/9.jpg" alt="" /><span>红米Note 4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/10.jpg" alt="" /><span>红米Note 3</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/11.jpg" alt="" /><span>红米手机3S</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/12.jpg" alt="" /><span>红米Pro</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/13.jpg" alt="" /><span>红米手机3X</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/14.jpg" alt="" /><span>合约机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/15.jpg" alt="" /><span>对比手机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/1/16.jpg" alt="" /><span>小米移动 电话卡</span></a><a href="" class="buy">选购</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">笔记本 平板</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/2/1.jpg" alt="" /><span>小米Note2</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/2/2.png" alt="" /><span>小米MIX</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/2/3.jpg" alt="" /><span>小米5s</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/2/4.jpg" alt="" /><span>小米5s Plus</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/2/5.jpg" alt="" /><span>小米手机5</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">电视 盒子</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/1.jpg" alt="" /><span>小米Note2</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/2.jpg" alt="" /><span>小米MIX</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/3.png" alt="" /><span>小米5s</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/4.png" alt="" /><span>小米5s Plus</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/5.png" alt="" /><span>小米手机5</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/6.jpg" alt="" /><span>小米Max</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/7.jpg" alt="" /><span>红米4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/8.jpg" alt="" /><span>红米4A</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/9.png" alt="" /><span>红米Note 4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/10.jpg" alt="" /><span>红米Note 3</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/11.jpg" alt="" /><span>红米手机3S</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/12.jpg" alt="" /><span>红米Pro</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/13.jpg" alt="" /><span>红米手机3X</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/14.jpg" alt="" /><span>合约机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/15.jpg" alt="" /><span>对比手机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/16.jpg" alt="" /><span>小米移动 电话卡</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/17.jpg" alt="" /><span>对比手机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/3/18.jpg" alt="" /><span>小米移动 电话卡</span></a><a href="" class="buy">选购</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">路由器 智能硬件</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/1.jpg" alt="" /><span>小米Note2</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/2.jpg" alt="" /><span>小米MIX</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/3.jpg" alt="" /><span>小米5s</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/4.jpg" alt="" /><span>小米5s Plus</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/5.jpg" alt="" /><span>小米手机5</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/6.jpg" alt="" /><span>小米Max</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/7.jpg" alt="" /><span>红米4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/8.jpg" alt="" /><span>红米4A</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/9.jpg" alt="" /><span>红米Note 4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/10.jpg" alt="" /><span>红米Note 3</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/11.jpg" alt="" /><span>红米手机3S</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/12.jpg" alt="" /><span>红米Pro</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/13.jpg" alt="" /><span>红米手机3X</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/14.jpg" alt="" /><span>合约机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/15.jpg" alt="" /><span>对比手机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/16.jpg" alt="" /><span>小米移动 电话卡</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/17.jpg" alt="" /><span>对比手机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/18.jpg" alt="" /><span>小米移动 电话卡</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/19.jpg" alt="" /><span>对比手机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/4/20.jpg" alt="" /><span>小米移动 电话卡</span></a><a href="" class="buy">选购</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">移动电源 电池 插线板</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/1.jpg" alt="" /><span>小米Note2</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/2.jpg" alt="" /><span>小米MIX</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/3.jpg" alt="" /><span>小米5s</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/4.jpg" alt="" /><span>小米5s Plus</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/5.jpg" alt="" /><span>小米手机5</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/6.jpg" alt="" /><span>小米Max</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/7.jpg" alt="" /><span>红米4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/5/8.jpg" alt="" /><span>红米4A</span></a><a href="" class="buy">选购</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">耳机 音箱</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/1.jpg" alt="" /><span>小米Note2</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/2.jpg" alt="" /><span>小米MIX</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/3.jpg" alt="" /><span>小米5s</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/4.jpg" alt="" /><span>小米5s Plus</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/5.jpg" alt="" /><span>小米手机5</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/6.jpg" alt="" /><span>小米Max</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/7.png" alt="" /><span>红米4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/8.jpg" alt="" /><span>红米4A</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/9.jpg" alt="" /><span>红米Note 4</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/10.jpg" alt="" /><span>红米Note 3</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/11.jpg" alt="" /><span>红米手机3S</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/12.jpg" alt="" /><span>红米Pro</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/13.jpg" alt="" /><span>红米手机3X</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/14.jpg" alt="" /><span>合约机</span></a><a href="" class="buy">选购</a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/6/15.jpg" alt="" /><span>对比手机</span></a><a href="" class="buy">选购</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">保护套 贴膜</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/7/1.jpg" alt="" /><span>小米Note2</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/7/2.jpg" alt="" /><span>小米MIX</span></a><</li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">线材 支架 存储卡</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/8/1.jpg" alt="" /><span>小米Note2</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/8/2.jpg" alt="" /><span>小米MIX</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/8/3.jpg" alt="" /><span>小米5s</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/8/4.jpg" alt="" /><span>小米5s Plus</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">箱包 服饰</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/9/1.jpg" alt="" /><span>小米Note2</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/9/2.jpg" alt="" /><span>小米MIX</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/9/3.jpg" alt="" /><span>小米5s</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="firstLi">
                        <a href=""><span class="s1">米兔 生活周边</span><span class="s2 iconfont icon-youjiantou"></span></a>
                        <div class="info">
                            <ul>
                                <li><a href="" class="title"><img src="../img/banner/nav/10/1.jpg" alt="" /><span>小米Note2</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/10/2.jpg" alt="" /><span>小米MIX</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/10/3.jpg" alt="" /><span>小米5s</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/10/4.jpg" alt="" /><span>小米5s Plus</span></a></li>
                                <li><a href="" class="title"><img src="../img/banner/nav/10/5.jpg" alt="" /><span>小米手机5</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--classification hide  end-->
    </div>
    <div class="nav-hide">
        <div class="n-h-main">
            <!-- 小米手机 -->
            <ul>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/1/1.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米note2</a></p>
                    <p class='price'>2799元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/1/2.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米MIX</a></p>
                    <p class='price'>3499元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/1/3.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5s</a></p>
                    <p class='price'>1899元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/1/4.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5sPLUS</a></p>
                    <p class='price'>2299元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/1/5.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米手机5</a></p>
                    <p class='price'>1599元起</p>
                </li>
                <li>
                    <div class="img" style="border:none"><a href=""><img src="../img/nav/1/6.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米Max</a></p>
                    <p class='price'>1299元起</p>
                </li>
            </ul>
            <!-- 红米 -->
            <ul>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/2/1.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米note2</a></p>
                    <p class='price'>2799元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/2/2.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米MIX</a></p>
                    <p class='price'>3499元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/2/3.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5s</a></p>
                    <p class='price'>1899元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/2/4.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5sPLUS</a></p>
                    <p class='price'>2299元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/2/5.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米手机5</a></p>
                    <p class='price'>1599元起</p>
                </li>
                <li>
                    <div class="img" style="border:none"><a href=""><img src="../img/nav/2/6.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米Max</a></p>
                    <p class='price'>1299元起</p>
                </li>
            </ul>
            <!-- 平板·笔记本 -->
            <ul>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/3/1.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米note2</a></p>
                    <p class='price'>2799元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/3/2.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米MIX</a></p>
                    <p class='price'>3499元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/3/3.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5s</a></p>
                    <p class='price'>1899元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/3/4.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5sPLUS</a></p>
                    <p class='price'>2299元起</p>
                </li>
                <li>
                    <div class="img" style="border:none"><a href=""><img src="../img/nav/3/5.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米Max</a></p>
                    <p class='price'>1299元起</p>
                </li>
            </ul>
            <!-- 电视 -->
            <ul>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/4/1.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米note2</a></p>
                    <p class='price'>2799元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/4/2.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米MIX</a></p>
                    <p class='price'>3499元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/4/3.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5s</a></p>
                    <p class='price'>1899元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/4/4.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5sPLUS</a></p>
                    <p class='price'>2299元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/4/5.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米手机5</a></p>
                    <p class='price'>1599元起</p>
                </li>
                <li>
                    <div class="img" style="border:none"><a href=""><img src="../img/nav/4/6.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米Max</a></p>
                    <p class='price'>1299元起</p>
                </li>
            </ul>
            <!-- 盒子·影音 -->
            <ul>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/5/1.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米note2</a></p>
                    <p class='price'>2799元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/5/2.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米MIX</a></p>
                    <p class='price'>3499元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/5/3.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5s</a></p>
                    <p class='price'>1899元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/5/4.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5sPLUS</a></p>
                    <p class='price'>2299元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/5/5.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米手机5</a></p>
                    <p class='price'>1599元起</p>
                </li>
                <li>
                    <div class="img" style="border:none"><a href=""><img src="../img/nav/5/6.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米Max</a></p>
                    <p class='price'>1299元起</p>
                </li>
            </ul>
            <!-- 路由器 -->
            <ul>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/6/1.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米note2</a></p>
                    <p class='price'>2799元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/6/2.png" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米MIX</a></p>
                    <p class='price'>3499元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/6/3.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5s</a></p>
                    <p class='price'>1899元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/6/4.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5sPLUS</a></p>
                    <p class='price'>2299元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/6/5.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米手机5</a></p>
                    <p class='price'>1599元起</p>
                </li>
                <li>
                    <div class="img" style="border:none"><a href=""><img src="../img/nav/6/6.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米Max</a></p>
                    <p class='price'>1299元起</p>
                </li>
            </ul>
            <!-- 智能硬件 -->
            <ul>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/7/1.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米note2</a></p>
                    <p class='price'>2799元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/7/2.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米MIX</a></p>
                    <p class='price'>3499元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/7/3.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5s</a></p>
                    <p class='price'>1899元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/7/4.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米5sPLUS</a></p>
                    <p class='price'>2299元起</p>
                </li>
                <li>
                    <div class="img"><a href=""><img src="../img/nav/7/5.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米手机5</a></p>
                    <p class='price'>1599元起</p>
                </li>
                <li>
                    <div class="img" style="border:none"><a href=""><img src="../img/nav/7/6.jpg" alt="" width="160" height="110" /></a></div>
                    <p class='name'><a href="">小米Max</a></p>
                    <p class='price'>1299元起</p>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- nav end-->


<!-- content start-->
<div id="content">
    <!-- list start-->
    <div id="list">
        <div class="l-banner">
            <h2><a href="">首页</a><span>/</span>选购手机 · 平板</h2>
            <div class="l-nav">
                <ul>
                    <li class="one"><p>选购手机 · 平板</p></li>
                    <li><a href="">小米MIX </a></li>
                    <li><a href="">小米Note2</a></li>
                    <li><a href="">小米5s</a></li>
                    <li><a href="">小米5s Plus</a></li>
                    <li><a href="">小米手机5</a></li>
                    <li><a href="">小米Max</a></li>
                    <li><a href="">手机对比</a></li>
                    <li><a class='all' href="">查看全部></a></li>
                </ul>
            </div>
            <div class="l-img">
                <a href="./details.html"><img src="../img/phone-list/banner.jpg" alt="" width="1226" height="460"/></a>
            </div>
        </div>
        <div class="l-mian">
            <ul>
                <li ><a class='img' href=""><img src="../img/phone-list/1.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a href=""><img src="../img/phone-list/2.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a class='img' href=""><img src="../img/phone-list/3.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a class='img' href=""><img src="../img/phone-list/4.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a class='img' href=""><img src="../img/phone-list/5.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a class='img' href=""><img src="../img/phone-list/6.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a class='img' href=""><img src="../img/phone-list/7.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a class='img' href=""><img src="../img/phone-list/8.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
                <li><a class='img' href=""><img src="../img/phone-list/9.jpg" alt="" width="606" height="360"/></a>

                    <div class="left">
                        <p class="title">小米Note 2 <span class="price">2799元起</span></p>

                        <p class="dec">5.7" 双曲面柔性屏，正反面 3D 曲面玻璃
                            2256万超高像素相机，骁龙821 性能版</p>
                        <a href="" class="buyBtn">立即购买</a></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- list end-->
</div>
<!-- content end-->

<!--full start-->

<div id="full">
    <div class="f-service"><a href=""><img src="../img/full/2.jpg" alt="" width="1226" height="655"/></a></div>
    <div class="f-choose">
        <div class="f-c-box">
            <img src="../img/full/5.png" alt="" width="1226" height="732"/>
            <a href="" class="left"></a>
            <a href="" class="right"></a>
        </div>
    </div>
    <div class="f-parts">
        <div class="p-title">
            <p class="title">搭配更多智能硬件产品</p>

            <p>以小米手机为中心，控制智能硬件产品，轻松享受智能生活带来的方便和舒适。</p>

            <p><a href="">查看更多智能硬件产品 ></a></p>
        </div>
        <div class="p-main">
            <ul>
                <li>
                    <a class="img" href=""><img src="../img/parts/1.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/2.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/3.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/4.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/5.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>
                <li>
                    <a class="img" href=""><img src="../img/parts/6.jpg" alt="" width="220" height="220"/></a>
                    <p><a href="" class="title">小米圈铁耳机</a></p>
                    <p><a href="" class="dec"> 动圈+动铁，双发声单元</a></p>
                    <p class="price"> 99元</p>
                </li>

            </ul>
        </div>
    </div>
    <div class="f-repair">
        <img src="../img/full/3.jpg" alt="" width="1226" height="600"/>
        <div class="r-main">
            <p class="title">小米之家及官方授权维修网点</p>
            <p>迎来小米之家解决你遇到的问题，了解最新的小米官方产品最全面的产品信息，还有很多好玩的活动等你来访。
                你还可以前往小米授权维修网点解决售后问题，520家网点让服务随时在身边。</p>
            <a href="">小米之家</a>
            <a href="" class="bottom">官方授权维修网点</a>
        </div>
    </div>
</div>

<!--full end-->
<!-- footer start -->
<div id="footer">
    <div class="f-top">
        <ul class="tabUl">
            <li><a href=""><span class="iconfont icon-gongju"></span>预约维修服务</a></li>
            <li><a href=""><span class="iconfont icon-footer-7"></span>7天无理由退货</a></li>
            <li><a href=""><span class="iconfont icon-15tianwuyouhuanhuo"></span>15天免费换货</a></li>
            <li><a href=""><span class="iconfont icon-icon"></span>满150元包邮</a></li>
            <li><a href=""><span class="iconfont icon-dingwei"></span>520余家售后网点</a></li>
        </ul>
        <div class="f-t-left">
            <ul>
                <li>
                    <p class="title">帮助中心</p>
                    <a href="">账户管理</a>
                    <a href="">购物指南</a>
                    <a href="">订单操作</a>
                </li>
                <li>
                    <p class="title">服务支持</p>
                    <a href="">售后政策</a>
                    <a href="">自助服务</a>
                    <a href="">相关下载</a>
                </li>

                <li>
                    <p class="title">线下门店</p>
                    <a href="">小米之家</a>
                    <a href="">服务网点</a>
                    <a href="">零售网点</a>
                </li>

                <li>
                    <p class="title">关于小米</p>
                    <a href="">了解小米</a>
                    <a href="">加入小米</a>
                    <a href="">联系我们</a></li>
                <li>
                    <p class="title">关注我们</p>
                    <a href="">新浪微博</a>
                    <a href="">小米部落</a>
                    <a href="">官方微信</a>
                </li>
                <li>
                    <p class="title">特色服务</p>
                    <a href=""> F 码通道</a>
                    <a href="">  小米移动</a>
                    <a href="">防伪查询</a>
                </li>
            </ul>
        </div>
        <div class="f-t-right">
            <p class="phone">400-100-5678</p>
            <p class="dec">
                周一至周日 8:00-18:00
                （仅收市话费）
            </p>
            <a href="" class="liuyan"><span class="iconfont icon-liuyan"></span>24小时在线客服</a>
        </div>
    </div>
    <div class="f-bottom">
        <div class="f-b-content">
            <div class="b-left">
                <a  class='f-logo' href="../index.html" target="_self"><img src="../img/mi-logo.png" width="49" height='49' alt="小米官网"/></a>
                <div class="wailink">
                    <ul>
                        <li><a href="">小米商城</a>|</li>
                        <li><a href="">MIUI</a>|</li>
                        <li><a href="">米聊</a>|</li>
                        <li><a href="">多看书城</a>|</li>
                        <li><a href="">小米路由器</a>|</li>
                        <li><a href="">视频电话</a>|</li>
                        <li><a href="">小米后院</a>|</li>
                        <li><a href="">小米天猫店</a>|</li>
                        <li><a href="">小米淘宝直营店</a>|</li>
                        <li><a href="">小米网盟</a>|</li>
                        <li><a href="">问题反馈</a>|</li>
                        <li><a href="">Select Region</a></li>
                    </ul>
                    <p>© <a href="">mi.com </a>京ICP证110507号  <a href="">京ICP备10046444号</a><a href="">京公网安备11010802020134号</a><a href=""> 京网文[2014]0059-0009号</a></p>
                    <p> 违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
                </div>
            </div>
            <div class="b-right">
                <ul>
                    <li><a href=""><img src="../img/footer/1.png" alt="" width="86" height="30"/></a></li>
                    <li><a href=""><img src="../img/footer/2.png" alt="" width="86" height="30"/></a></li>
                    <li><a href=""><img src="../img/footer/3.png" alt="" width="86" height="30"/></a></li>
                    <li><a href=""><img src="../img/footer/4.png" alt="" width="86" height="30"/></a></li>
                </ul>
            </div>
            <p class="last">小米商城</p>
        </div>
    </div>
</div>
<!-- footer end-->
<script type="text/javascript" src='http://cdn.bootcss.com/jquery/1.12.4/jquery.min.js'></script>
<script src="../js/list.js"></script>
</body>
</html>